<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080809286361-hfgdjq8566stk954i9e7elmvqe9ot23e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080809286361-hfgdjq8566stk954i9e7elmvqe9ot23e</string>
	<key>API_KEY</key>
	<string>AIzaSyDxbiKXAQxj33SIIwXQNokKEeCtQg_isl0</string>
	<key>GCM_SENDER_ID</key>
	<string>1080809286361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadsideAssistanceBien</string>
	<key>PROJECT_ID</key>
	<string>roadside-82364</string>
	<key>STORAGE_BUCKET</key>
	<string>roadside-82364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080809286361:ios:3527185ded66c03dabacc8</string>
</dict>
</plist>